.pane-ca-case-study-node-ca-case-study-node-1-a, .pane-ca-case-study-node-ca-case-study-node-1-b {clear: left; float: left; padding-right: 15px; padding-bottom: 5px;}

.view-ca-case-study-list .views-field-field-ca-case-study-c-screenshot {float: left; padding-right: 15px; padding-bottom: 5px;}

.view-ca-case-study-block .views-field-field-ca-case-study-c-screenshot {float: left; padding-right: 10px; padding-bottom: 5px;}

.view-ca-case-study-node .views-field-field-ca-case-study-c-image, .view-ca-case-study-node .views-field-field-ca-case-study-c-image-1 {float: left;}

.view-ca-case-study-node {width: 200px;}

.pane-ca-case-study-node-ca-case-study-node-1-b img {float: left; padding: 0 2.5px 5px;}

.pane-ca-case-study-node-ca-case-study-node-1-b .pager .ajax-progress {display: none;}

.view-ca-case-study-list .views-field-nothing {clear: both;}